.body{
	margin:0;
}

.site-header{
	position:fixed;
	width:100%;
	background:#134091;
}

.header-div{
	text-align:center;
}

.logo{
width:100%;
	height:50px;
	display:inline-block;
	
}


.left-content{
	float:left;
}

.right-content{
	text-align:right;
}

.header-menu{
padding-top:8px;
	width:40px;
	height:30px;
	display:inline-block;
}

.company{
	color:#ff0;
	text-decoration:none;
	font-size:40px;
}



#banner{
	background:#333;
	text-align:center;

}

#banner .text1{
line-height:90px;
height:250px;
width:250px;
background:#0c0;
font-size:90px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
float:left;
color:#fff;
}
#banner .text2{
line-height:100px;
height:250px;
width:250px;
background:#00c;
font-size:100px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
float:left;
color:#fff;
}
#banner .text3{
line-height:90px;
height:250px;
width:250px;
background:#c00;
font-size:90px;
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
float:left;
color:#fff;
}

#banner .spacer1{
	margin:35px;
}
#banner .spacer2{
margin:75px;
}
#banner .spacer3{
	height:100px;
}
#banner .spacer4{
	float:left;
	height:2px;
}
#banner .spacer5{
	float:left;
	height:2px;
	width:100px;
}

#banner .logo{
	height:150px;
	color:#ff0;
	font-size:150px;
	clear:both;
	text-shadow: blue 3px 3px 0px,blue -3px 3px 0px,blue 3px -3px 0px,blue -3px -3px 0px;
}
#banner .slogan{
	color:#134091;
	font-size:70px;
	clear:both;
}


#greeting .mainGreeting{
text-align:center;
	font-size:30px;
}

#greeting p{
	text-align:center;
}

#greeting .imgs{
	text-align:center;
}

#cource{
	text-align:center;
}

#cource cource-list{
	text-align:center;
}

#cource .img{
	width:100%;
}

#cource .cource-intro{
	width:25%;
	display:inline-block;
	text-align:center;
}

#cource .cource-img{
	width:90%;
}

#cource .spacer{
height:1px;
	width:10%;
	display:inline-block;
}

#osirase{
	text-align:center;
}

#osirase .img{
	width:100%;
}

#access{
	width:100%;
	text-align:left;
}

#access .access-intro{
background:#bbb;
padding:5%;
float:left;
	width:40%;
}


#access .map{
	height:100%;
	width:100%
}

#hooter{
	text-align:center;

}

#hooter .logo{
	background:#134091;
	color:#ff0;
	text-decoration:none;
	font-size:40px;

}
#hooter .info{
	color:#fff;
	background:#134091;
	display:inline-block;
	width:100%
}